<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Directory Path-->
    <add key="VirtualPath" value="/"/>
    <add key="PanelPath" value="/panel/"/>
    <add key="CKeditor:BasePath" value="~/common/editorbox"/>
    <!--Mail Server-->
    <add key="smtpMail" value="noreply@baymyo.com"/>
    <add key="smtpPassword" value="123456cvp"/>
    <add key="smtpHost" value="smtp.baymyo.com"/>
    <add key="smtpPort" value="110"/>
    <add key="smtpEnableSsl" value="0"/>
    <!--Server Settings-->
    <add key="DefaultClientProvider" value="MySQL"/>
    <!--System Settings-->
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2000"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!--<add name="mysqlString" connectionString="Server=localhost;Port=3306;Database=medica_arsz;charset=utf8;Uid=medicana;Pwd=bAt6k9!9;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="mysqlString" connectionString="Server=localhost;Port=3306;Database=mrsz;charset=utf8;Uid=root;Pwd=1234;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".ASPXROLEBASED" cookieless="UseCookies" timeout="80" slidingExpiration="true" domain="" loginUrl="/?go=login" protection="All" path="/"/>
    </authentication>
    <sessionState mode="InProc" timeout="90"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpRuntime targetFramework="4.5" maxRequestLength="102401" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="1740" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
    <globalization culture="tr-TR" uiCulture="tr" fileEncoding="iso-8859-9" requestEncoding="iso-8859-9" responseEncoding="iso-8859-9"/>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID"/>
    <machineKey validationKey="17F5202F90096D6E77C2FFD13E8CDA68C164B6A6C78FF01F39CA649EB33F1574F8FEDF0A66EFF682BB29DBA832CB0E2BA94348D692EAF86487D4964ADA6E3CD7" decryptionKey="92963855CAC5517D17CAF8E93A342C1799B8E07A75EEF6B99EEA0253EA66F301" validation="SHA1" decryption="AES"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <!-- full url when responsemode is Redirect -->
      <error statusCode="401" path="/" responseMode="Redirect"/>
      <!-- local relative path when responsemode is ExecuteURL -->
      <error statusCode="403" path="/" responseMode="ExecuteURL"/>
      <error statusCode="404" path="/" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/" responseMode="ExecuteURL"/>
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>